@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Noto+Sans:ital,wght@1,100&family=Poppins:wght@400;500;600;700;900&display=swap');
html{
  margin: 0;
  padding-bottom: 25px;
  font-family: 'Alkatra', cursive;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(101, 43, 115) 0%, #200320 90% );
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.title{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  column-gap: 10px;
}
.title h2{
  font-size: 3em;
}
.title img{
  width: 64px;
  height: 64px;
}
.App>h1{
  color: white;
  font-size: 3em;
  padding-top: 50px;
  text-transform: uppercase;
  text-align: center;
}
.quiz-banner{
  display: flex;
  min-height: 60vh;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.quiz-banner img{
  width: 60px;
  height: 60px;
}
.quiz-option{
  background-color: rgba(255, 255, 255, 0.315);
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  padding: 24px 24px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(15, 15, 15, 0.288);
}
.quiz-option h2{
  color: #3b043b;
  font-size: 2em;
}
.quiz-desc{
  font-size: 1.2em;
  color: white;
  text-align: center;
}
.take-test{
  cursor: pointer;
  text-decoration: none;
  padding: 12px 24px;
  border: none;
  color: white;
  border-radius: 10px;
  background: #3b043b;
  margin-top: 20px;
  box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.295);
  font-size: 1em;
  font-weight: 700;
  transition: .3s ease;
}
.take-test:hover{
  background: white;
  color: black;
  transform: scale(1.1);
}
.current{
  font-size: 1.4em;
  color: rgb(101, 43, 115);
}

.quiz-flex {
  display: flex;
  background: rgba(255, 255, 255, 0.315);
  width: 60%;
  margin: 100px auto;
  padding-bottom: 50px;
  flex-direction: column;
  border-radius: 20px;
  column-gap: 20px;
}
.questions{
  text-align: center;
  padding: 20px;
  color: white;
}
.answers{
  display: flex;
  padding-top: 30px;
  width: min(50%, 80rem);
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.answers button{
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  height: 50px;
  width: min(100%, 80rem);
  cursor: pointer;
  border: 5px double gray;
  border-radius: 20px;
  color: rgb(22, 22, 22);
  background: white;
  transition: .3s ease;
}
.answers button:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.result-container {
  display: flex;
  padding: 10px 0px 20px;
  background-color: #ffffff10;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  column-gap: 50px;
  width: 70%;
  margin: 100px auto 20px;
  min-height: 500px;
  justify-content: space-around;
  align-items: center;
}

.circular-progress{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(88, 88, 88, 0.144);
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #ffff;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
  inset -4px -4px 6px -1px rgb(255, 255, 255,0.7),
  -.5px .5px 0px rgba(255,255,255,.05), 
   0.5px 0.5px .5px rgba(0,0,0,0.3),
   0px 12px 10px -10px rgba(0,0,0,0.05);
}
.progress-value{
  position: relative;
  font-size: 1.6em;
  font-weight: 500;
}
.progress-value span{
  font-size: 2.5em;
  color: purple;
  font-weight: 600;
}

.mistakes{
  width: 50%;
  padding: 0px 20px 10px;
  text-align: left;
  font-size: 14px;
  line-height: 2.5em;
  background: black;
  border-radius: 20px;
  color: white;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.404),
  -6px -6px 10px -1px rgba(2, 2, 2, 0.541);
}
.mistakes h2{
  font-size: 2em;
}
.mistake-list{
  list-style-type: lower-roman;
  font-size: 1.3em;
}
.resultBtns{
  display: flex;
  column-gap: 15px;
  justify-content: center;
  border-radius: 25%;
}
.homeBtn{
  width: 100px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
  color: white;
  background: rgba(124, 124, 124, 0.075);
  border: none;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0);
}
.homeBtn img{
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 30px;
}
.play-again{
  width: 100px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
  background: rgba(124, 124, 124, 0.075);
  color: white;
  border: none;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0);
}
.play-again img{
  height: 40px;
  width: 40px;
}
.homeBtn:hover,.play-again:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.celebrate-gif{
  width: 400px;
  height: 400px;
}
@media (max-width:1240px){
  .quiz-option{
    width: 200px;
  }
  .quiz-option h2{
    font-size: 1.3em;
  }
  .quiz-desc{
    font-size: 1em;
    color: white;
    text-align: center;
  }
  .result-container {
    width: 80%;
    padding: 10px 40px 20px;
    justify-content: space-around;
}
  .answers button{
    font-size: calc(1rem + ((.5vw - 7.68px) * 0.6944));
    padding: 0px 10px;
    overflow-wrap: break-word;
  }
}
@media (max-width:768px){

  html{
    padding-bottom: 50px;
  }
  .quiz-flex{
    width: 80%;
  }
  .quiz-banner{
    flex-direction: column;
    row-gap: 10px;
    padding-top: 0px;
    column-gap: 20px;
  }
  .quiz-option{
    width: 170px;
    background-color: #ffffff57;
  }
  .quiz-option img{
    width: 70px;
    height: 70px;
  }
  .quiz-option h2{
    font-size: 1.3em;
    color: rgb(0, 40, 77);
  }
  .quiz-desc{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
 
  .answers{
    width: 80%;
  }
  .answers button{
    font-size: calc(1rem + ((.5vw - 9.68px) * 0.6944));
    padding: 0px 10px;
    overflow-wrap: break-word;
    font-weight: 700;
  }
  .answers button:hover{
    transition: none;
    color: black;
    background-color: white;
  }
  
  .take-test{
    font-size: 14px;
    color: white;
    border: none;
  }

  .questions h2{
    font-size: 1.3em;
  }
  .questions h2{
    font-size: 1.0em;
  }
  
  .result-container{
    flex-direction: column;
    padding: 20px 10px;
    row-gap: 20px;
  }
  .resultBtns{
    margin-top: 10px;
  }
  .homeBtn, .play-again{
    display: flex;
    width: 80px;
    height: 50px;
  }
  .play-again img,.homeBtn img{
    width: 30px;
    height: 30px;
    margin: auto;
  }
  .circular-progress{
    position: relative;
    width: 200px;
    height: 200px;
  }
  .circular-progress::before{
    height: 160px;
    width: 160px;
  }
  .progress-value{
    position: relative;
    font-size: 1.6em;
    font-weight: 500;
  }
  .progress-value span{
    font-size: 2.0em;
    font-weight: 600;
  }
  .play-again{
    font-size: 1.3em;
  }
  .mistakes{
    width: auto;
  }
  .mistake-list{
    font-size: 1em;
  }
  
  .celebrate-gif{
    width: 200px;
    height: 200px;
  }
}