@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Noto+Sans:ital,wght@1,100&family=Poppins:wght@400;500;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Alkatra', cursive;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(1,0,64);
    background: linear-gradient(90deg, rgba(1,0,64,1) 0%, rgba(15,56,111,1) 68%, rgba(20,182,184,1) 100%);
    min-height: 100vh;
    max-width: 100vw;
    padding-bottom: calc(50px + ((1vh + 7.68px) * 0.6944));
}
.App>h1{
  color: white;
  font-size: 3em;
  padding-top: 50px;
  text-transform: uppercase;
  text-align: center;
}
.quiz-banner{
  display: flex;
  min-height: 60vh;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.quiz-banner img{
  width: 60px;
  height: 60px;
}
.quiz-option{
  background-color: rgba(255, 255, 255, 0.315);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  align-items: center;
  padding: 24px 24px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(15, 15, 15, 0.288);
}
.quiz-option h2{
  color: rgb(0, 40, 77);
  font-size: 2em;
}
.quiz-desc{
  font-size: 1.2em;
  color: white;
  text-align: center;
}
.take-test{
  cursor: pointer;
  text-decoration: none;
  padding: 12px 24px;
  border: none;
  color: white;
  border-radius: 10px;
  background: linear-gradient(128deg, rgba(1,0,64,1) 0%, #0f386f 25%, rgba(20,182,184,1) 100%);
  margin-top: 20px;
  box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.295);
  font-size: 1em;
  font-weight: 700;
  transition: .3s ease;
}
.take-test:hover{
  background: black;
  color: rgba(20,182,184,1);
  transform: scale(1.1);
}
.quiz{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: min(90%, 80rem);
  height: min(70%, 80rem);
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 20px;
}
.current{
  font-size: 1.4em;
  color: rgba(20,182,184,1);
}
.quiz-flex{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.questions{
  text-align: center;
  padding: 20px;
}
.answers{
  display: flex;
  padding-top: 30px;
  width: min(50%, 80rem);
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.answers button{
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  height: 50px;
  width: min(100%, 80rem);
  cursor: pointer;
  border-radius: 20px;
  background: none;
  border: 2px solid gray;
  transition: .3s ease;
}
.answers button:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.result-container{
  display: flex;
  padding: 10px 0px;
  background-color: white;
  border-radius: 10px;
  column-gap: 50px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}
.circular-progress{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(rgb(20, 97, 184) 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #ffff;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
  inset -4px -4px 6px -1px rgb(255, 255, 255,0.7),
  -.5px .5px 0px rgba(255,255,255,.05), 
   0.5px 0.5px .5px rgba(0,0,0,0.3),
   0px 12px 10px -10px rgba(0,0,0,0.05);
}
.progress-value{
  position: relative;
  font-size: 1.3em;
  font-weight: 300;
}
.progress-value span{
  font-size: 2em;
  color: rgb(20, 97, 184);
  font-weight: 600;
}

.mistakes{
  width: 50%;
  padding: 0px 0px;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
}
.mistake-list{
  list-style-type: lower-roman;
}
.resultBtns{
  display: flex;
  column-gap: 10px;
  justify-content: center;
  position: relative;
  padding-top: 120px;
}
.homeBtn{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
  color: white;
  background-color: rgb(20, 97, 184);
  border: none;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0);
}
.homeBtn img{
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 25px;
}
.play-again{
  font-size: 1.3em;
  font-weight: 500;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
  color: white;
  background-color: rgb(20, 97, 184);
  border: none;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0);
}
.play-again img{
  height: 40px;
  width: 40px;
  margin-top: 10px;
}
.homeBtn:hover,.play-again:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.celebrate-gif{
  width: 400px;
  height: 400px;
}
@media (max-width:1024px){
   /* .App{
    min-height: 100vh;
    min-width: 100vw;
  } */
  .quiz-option{
    width: 200px;
  }
  .quiz-option h2{
    font-size: 1.3em;
  }
  .quiz-desc{
    font-size: 1em;
    color: white;
    text-align: center;
  }
  .answers button{
    font-size: calc(1rem + ((.5vw - 7.68px) * 0.6944));
    padding: 0px 10px;
    overflow-wrap: break-word;
  }
  .resultBtns{
    padding-top: 100px;
  }
}
@media (max-width:768px){
  .App{
    background: rgb(1,0,64);
    background: linear-gradient(128deg, rgba(1,0,64,1) 0%, #0f386f 38%, rgba(20,182,184,1) 100%);
    min-height: 110vh;
  }
  h1{
    text-align: center;
  }
  .quiz-banner{
    flex-direction: column;
    row-gap: 10px;
    padding-top: 0px;
    column-gap: 20px;
  }
  .quiz-option{
    width: 170px;
    height: 200px;
    background-color: #ffffff57;
  }
  .quiz-option img{
    width: 70px;
    height: 70px;
  }
  .quiz-option h2{
    font-size: 1.3em;
    color: rgb(0, 40, 77);
  }
  .quiz-desc{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .quiz-flex{
    margin: auto;
    padding-bottom: 10px;
  }
  .answers{
    width: 80%;
  }
  .answers button{
    font-size: calc(1rem + ((.5vw - 9.68px) * 0.6944));
    padding: 0px 10px;
    overflow-wrap: break-word;
    /* pointer-events: none; */
  }
  .answers button:hover{
    transform: none;
    background-color: white;
    color: black;
  }
  
  .take-test{
    background: linear-gradient(128deg, rgba(1,0,64,1) 0%, #0f386f 38%, rgba(20,182,184,1) 100%);;
    font-size: 14px;
    color: white;
    border: none;
  }

  .questions h2{
    font-size: 1.3em;
  }
  .questions h2{
    font-size: 1.0em;
  }
  
  .result-container{
    display: flex;
    width: 100%;
    overflow-y: scroll;
    padding: 20px 0;
    border-radius: 10px;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .resultBtns{
    position: relative;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
  }
  .homeBtn, .play-again{
    width: 80px;
    height: 50px;
  }
  .play-again img,.homeBtn img{
    width: 30px;
    height: 30px;
  }
  .circular-progress{
    position: relative;
    width: 200px;
    height: 200px;
  }
  .circular-progress::before{
    height: 160px;
    width: 160px;
  }
  .progress-value{
    position: relative;
    font-size: 1.3em;
    font-weight: 300;
  }
  .progress-value span{
    font-size: 2.0em;
    color: rgb(20, 97, 184);
    font-weight: 600;
  }
  .play-again{
    font-size: 1.3em;
  }
  .mistakes{
    width: auto;
    margin-left: 10px;
  }
  .mistake-list{
    font-size: 10px;
  }
  .celebrate-gif{
    width: 200px;
    height: 200px;
  }
}